@import "tailwindcss";

/* ===== Custom Scrollbar Style ===== */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000; /* background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #e85154; /* main scrollbar color */
  border-radius: 10px;
  border: 2px solid #000000; /* space around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff6666; /* lighter on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e85154 #000000;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 17s ease forwards;
}



@keyframes float3d {
  0%, 100% { transform: translateY(0px) rotateX(0deg) rotateY(0deg); }
  50% { transform: translateY(-10px) rotateX(2deg) rotateY(2deg); }
}
.animate-float3d {
  animation: float3d 4s ease-in-out infinite;
  transform-style: preserve-3d;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 25s linear infinite;
}
.animate-scroll:hover {
  animation-play-state: paused;
}